@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

.header {
  height: 10vh;
  display: flex;
  padding: 4vh 10vw 0;
  justify-content: space-between;
  align-items: center;
  min-width: 80vw;
  font-family: "Futura";
}

.name {
  font-size: 42px;
}

.links {
  display: flex;
}

.linkText {
  font-size: 32px;
  cursor: pointer;
  transition: 1s linear;
  margin: 0 2vw;
}

.linkText:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 425px) {
  .name {
    font-size: 32px;
  }
  .linkText {
    font-size: 24px;
  }
}
